@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Hammersmith+One&display=swap');

button{
    all: unset;
}
body{
    background-color: black;
    margin: 0;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: greenyellow;
    overflow-x: hidden;
}
header > h1{
    font-size: 30px;
    display: flex;
    align-items: center;
}
#bg-logo {
    display: inline-block;
    width: 80px; height: 80px;
    background-size: 200px 100px;
    background: url('../images/css_sprites.png') -10px -10px;
}
#stock-name{
    color: greenyellow;
    text-align: center;
    margin-top: 50px;
}
#canvas-holder{
    width: 100%;
    display: flex;
    justify-content: center;
}
#testChart{
    background-color: rgb(0, 0, 0);
    padding: 10px;

    outline: 2px greenyellow dashed;
    border-radius: 20px;

    max-width: 800px;
    min-width: 800px;
    max-height: 400px;
    min-height: 400px;
}
#grid-wrapper{
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 20px;
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
}
.button-preset, .stock-wrapper > *{
    background-color: black;
    width: 80px;
    height: 24px;
    border-radius: 20px;
    outline: 2px greenyellow dashed;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: greenyellow
}
#stock-button{
    width: 80px; 
    height: 24px;
    background-size: 200px 100px;
    background: url('../images/css_sprites.png') -100px 0px;
}