button{
    all: unset;
}
body{
    background-color: rgb(226, 213, 188);
    margin: 0;
}
p{
    color: black;
}
a{
    color: black;
    transition: transform 0.3s ease;
    display: inline-block;
}
a:hover{
    transform: scale(1.1);
    color: green;
    cursor: pointer;
}
a:active{
    transition: transform 0.1s ease;
    transform: scale(0.9);
}
#stock-name{
    color: white;
    text-align: center;
}
#canvas-holder{
    width: 100%;
    display: flex;
    justify-content: center;
}
#testChart{
    background-color: rgb(0, 0, 0);
    padding: 10px;

    outline: 2px greenyellow dashed;
    border-radius: 20px;

    max-width: 600px;
    min-width: 600px;
    max-height: 300px;
    min-height: 300px;
}
#grid-wrapper{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
}
.button-preset, .stock-wrapper > *{
    background-color: black;
    width: 80px;
    height: 24px;
    border-radius: 20px;
    outline: 2px greenyellow dashed;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: greenyellow
}
#stock-button{
    cursor: pointer;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}
.stock-wrapper{
    position: absolute;
    margin-top: 40px;
    padding: 10px;
    background-color: grey;
    display: none;
    width: max-content;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}
#stock-drag-wrapper > div{
    cursor: grab;
}
#stock-click-wrapper > button{
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    #testChart{
        max-width: 100%;
        min-width: 100%;
        max-height: unset;
        min-height: unset;
    }
}