@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Hammersmith+One&display=swap');

button{
    all: unset;
}
body{
    background-color: black;
    margin: 0;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: greenyellow;
}
a{
    transition: transform 0.3s ease;
    color: blue;
    display: inline-block;
}
a:hover{
    transform: scale(1.1);
    cursor: pointer;
}
a:active{
    transition: transform 0.1s ease;
    transform: scale(0.9);
}
#stock-name{
    color: greenyellow;
    text-align: center;
    margin-top: 50px;
}
#canvas-holder{
    width: 100%;
    display: flex;
    justify-content: center;
}
#testChart{
    background-color: rgb(0, 0, 0);
    padding: 10px;

    outline: 2px greenyellow dashed;
    border-radius: 20px;

    max-width: 800px;
    min-width: 800px;
    max-height: 400px;
    min-height: 400px;
}
#grid-wrapper{
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
}
.button-preset, .stock-wrapper > *{
    background-color: black;
    width: 80px;
    height: 24px;
    border-radius: 20px;
    outline: 2px greenyellow dashed;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: greenyellow
}
#stock-button{
    cursor: pointer;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}
#stock-wrapper-wrapper{
    display: flex;
    justify-content: center;
}
.stock-wrapper{
    position: absolute;
    margin-top: -10px;
    padding: 10px;
    background-color: grey;
    display: none;
    width: max-content;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}
#stock-drag-wrapper > div{
    cursor: grab;
}
#stock-click-wrapper > button{
    cursor: pointer;
}
#image-wrapper{
    display: flex;
}
#image-overlay{
    display: flex;
    background: linear-gradient(black, #00000000, black);
    z-index: 1;
    width: 100%;
    position: absolute;
}
#Invisible-image{
    opacity: 0;
}
#breakup-image{
    display: none;
}
#table-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 180px;
}
table{
    background-color: black;
    color: white;
    border-spacing: 0;
    width: 95%;
    height: 200px;
}
th, td{
    outline: 1px greenyellow dotted;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}
th{
    font-weight: 900;
}
@media only screen and (max-width: 842px) {
    #testChart{
        max-width: 95%;
        min-width: 95%;
        max-height: unset;
        min-height: unset;
    }
}
@media only screen and (max-width: 500px) {
    /*500px är större än min mobil, så det är nog stort nog för alla mobil telefoner*/
    .stock-wrapper{
        margin-top: 20px;
    }
    #breakup-image{
        display: inline;
    }
    #table-wrapper{
        margin-top: 20px;
    }
    th, td{
        font-size: 15px;
    }
}